/.idea/workspace.xml
*.class

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.DS_Store
.gradle/
build/
classes/
out/
src/.DS_Store
src/main/.DS_Store
src/main/java/.DS_Store
.idea/
*.iml
*.ipr
*.iws
.classpath
.project
.settings/
bin/
dump.sql
error_log.txt
table_meta_data.txt